@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #152238;
    --text-color: #707070;
    --prime-color: #fff;
    --free-color:#cea504 ;
    --main-color: #ddd;
}

body {
    padding: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.buts h5 {
    color: #152238;
}

.buts a {
    text-decoration: none;
}

.buts {
    padding: 7px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
}

.up-cf {
    text-decoration: underline;
}

.background {
    padding: 40px;
    text-align: center;
}

.background h1 {
    font-stretch: expanded;
    font-variant: small-caps;
    font-size: x-large;
    border-bottom: 3px solid var(--free-color);
    margin-bottom: 20px;
    color: var(--primary-color);
}

.grid-bck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.grid-class {
    text-align: center;
    background: var(--primary-color);
    color: var(--prime-color);
    border-radius: 6px;
    transition: transform 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.grid-class .imagex {
    height: 50px;
    background: var(--free-color);
    padding: 5px;
    border-radius: 50%;
}

.grid-class .h2 {
    font-size: 20px;
    margin: 15px 0;
}

.grid-class .text {
    font-size: 14px;
    margin-bottom: 15px;
}

.grid-class:hover {
    transform: scale(1.05);
    background: var(--free-color);
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


button {
    font-family: 'Ubuntu Condensed', sans-serif;
    border: none;
    background: var(--primary-color);
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 50px;
    transition: background-color 0.4s;
    margin-top: 20px;

}

button h3 {
    color: var(--prime-color);
    font-stretch: expanded;
    font-variant: small-caps;
    font-weight: 900;
    font-size: small;
}

button:hover {
    background: var(--free-color);
    color: var(--primary-color);
}

button .my-icons {
    color: var(--prime-color);
    padding-right: 10px;
    font-size: 2em;
}

/* Media Query for Tablet and Desktop */
@media (min-width: 768px) {
    .grid-class {
        text-align: center;
        background: var(--primary-color);
        color: var(--prime-color);
        border-radius: 6px;
        transition: transform 0.7s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}
