@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

:root {
    --primary-color: #152238;
    --text-color: #707070;
    --prime-color: #fff;
    --free-color: #cea504;
    --main-color: #ddd;
}

.buts h5 {
    color: #f9f9f9;
}

.buts a {
    text-decoration: none;
}

.buts {
    padding: 7px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #152238;
}

.portfolio {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.portfolio h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
    justify-items: center; 
}

.project {
    background-color: var(--primary-color);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    width: 100%;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.project p {
    color: var(--main-color);
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--free-color);
}

@media (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    }
}

@media (max-width: 767px) {
    .projects-grid {
        grid-template-columns: 1fr; 
    }
}

